export default {
    // URL to target when sending API requests during development.
    apiURL: 'http://localhost:4032',

    // Specifies whether the page should be refreshed on any file change.
    reloadOnChange: false
}
