@import '../../../../assets/styles/fonts.module';
@import '../../../../assets/styles/breakpoints.module';

.sectionContainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  background-image: url('../../../../assets/images/backgrounds/ourProjectsBackground.jpeg');
  background-size: cover;

  @include breakpoint-lg {
    grid-template-columns: 5% 90% 5%;
  }

  .sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;
    margin: 6.25rem 0 50px 0;

    .sectionButtonContainer {
      display: flex;
      justify-content: center;
      gap: 8px;
      width: 100%;
      margin-top: 3.75rem;
      flex-wrap: wrap;
    }
  }
}

.sectionButton, .sectionButtonSelected {
  text-decoration: none;
  font-family: $alata;
  font-size: 1.125rem;
  color: #FFFFFF;
  background-color: transparent;
  padding: 15px 0;
  border: 1px solid #FFFFFF;
  width: 120px;
  justify-content: center;
}

.sectionButtonSelected {
  background-color: #FFFFFF;
  color: #000000;
}

.sectionButton:hover {
  cursor: pointer;
  opacity: 0.7;
}