@import '../../../../src/scss/breakpoints.module';
@import '../../../../src/scss/fonts.module';
@import '../../../../src/scss/variables.module';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;

  img {
    width: 100%;
    max-width: 190px;
    height: auto;
    max-height: 202px;
    object-fit: contain;
  }

  .title {
    font-family: $alata;
    font-size: 1.125rem;
    color: #FFFFFF;
    letter-spacing: 0.1rem;
    margin-bottom: 5px;
  }

  .name {
    font-family: $alata;
    font-size: 1rem;
    color: $mainBlue;
    letter-spacing: 0.1rem;
  }

  .mail {
    font-family: $alata;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0.1rem;
  }

  .mail:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}