@import '../../../../src/scss/breakpoints.module';
@import '../../../../src/scss/fonts.module';
@import '../../../../src/scss/variables.module';

.sectionContainer {
    min-height: 900px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: center;

    @include breakpoint-xxl {
        grid-template-columns: 20% 60% 20%;
    }

    @include breakpoint-xl {
        grid-template-columns: 10% 80% 10%;
    }

    @include breakpoint-lg {
        grid-template-columns: 0 100% 0;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        width: 100vw;
        height: 100%;
        min-height: 900px;
        object-fit: cover;

        @include breakpoint-s {
            min-height: 1400px;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100vw;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70.52%, rgba(0, 0, 0, 0.5) 86.67%, #000000 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        height: 100%;
        object-fit: cover;
        min-height: 900px;

        @include breakpoint-s {
            min-height: 1400px;
        }
    }

    * > svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    .sectionWrapper {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 230px 20px 0 20px;

        @include breakpoint-md {
            margin-top: 200px;
        }

        .sectionTitle {
            font-family: $kronaOne;
            font-size: 2.625rem;
            letter-spacing: 0.9rem;
            color: white;
            text-align: center;

            @include breakpoint-md {
                font-size: 2.4rem;
                letter-spacing: 0.8rem;
            }
        }

        .sectionDescription {
            font-family: $alegreyaSans;
            font-size: 1.5rem;
            letter-spacing: 0.5rem;
            color: white;
            margin: 25px 0 40px 0;
            text-align: center;

            @include breakpoint-md {
                font-size: 1.2rem;
            }
        }

        .sectionButtons {
            margin: 50px 0 110px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            flex-wrap: wrap;
            gap: 20px;

            .sectionButton {
                font-family: $alata;
                font-size: 1.2rem;
                letter-spacing: 0.07rem;
                padding: 12px 50px;
                z-index: 2;
                color: white;
                text-decoration: none;
                width: 180px;

                @include breakpoint-md {
                    padding: 12px 30px;
                }
            }

            .sectionButton:hover {
                cursor: pointer;
                opacity: 0.9;
            }

            .sectionSponsorButton {
                border: 1px solid #FFFFFF;
                background-color: transparent;
            }

            .sectionProjectButton {
                border: 1px solid $mainBlue;
                background-color: $mainBlue;
            }
        }

        .sectionNumberContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 40px;
            flex-wrap: wrap;
            width: 80%;
        }

        .sectionArrow {
            position: relative;
            height: 90px;
            width: 90px;
            margin: 90px 0;

            @include breakpoint-sm {
                margin: 40px 0;
            }
        }
    }
}