@import '../../../../src/scss/fonts.module';
@import '../../../../src/scss/breakpoints.module';

.sectionContainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 1100px;
  width: 100%;
  align-items: center;
  justify-content: center;

  @include breakpoint-lg {
    grid-template-columns: 10% 80% 10%;
  }

  @include breakpoint-md {
    height: 1500px;
  }

  .sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;

    .sectionBackground {
      position: absolute;
      height: 1100px;
      width: 100%;
      z-index: -1;
      object-fit: cover;

      @include breakpoint-md {
        height: 1500px;
      }
    }

    .sectionTitle {
      grid-column: 2 / 3;
      font-family: $alata;
      font-size: 1.5rem;
      color: #FFFFFF;
      letter-spacing: 0.25rem;
      margin-bottom: 30px;
    }

    .sectionDivider {
      grid-column: 2 / 3;
      border: 0.5px solid #FFFFFF;
      width: 45%;
    }

    .sectionButtonContainer {
      display: flex;
      justify-content: center;
      gap: 8px;
      width: 100%;
      margin-top: 60px;
      flex-wrap: wrap;
    }
  }
}

.sectionButton, .sectionButtonSelected {
  text-decoration: none;
  font-family: $alata;
  font-size: 1.125rem;
  color: #FFFFFF;
  background-color: transparent;
  padding: 15px 50px;
  border: 1px solid #FFFFFF;
}

.sectionButtonSelected {
  background-color: #FFFFFF;
  color: #000000;
}

.sectionButton:hover {
  cursor: pointer;
  opacity: 0.7;
}