.footerContainer {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 20vw;

  .footerBackground {
    position: absolute;
    width: 100vw;
    z-index: -10;
  }

  .footerWrapper {
    grid-column: 2 / 3;

    .footerNav {
      display: flex;
      justify-content: center;
    }
  }
}