@import '../../../../src/scss/breakpoints.module';
@import '../../../../src/scss/fonts.module';

.footerContainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 30% 55% 15%;
  height: 20vw;

  .footerBackground {
    position: absolute;
    width: 100vw;
    z-index: -1;
  }

  .footerWrapper {
    grid-column: 2 / 3;

    .footerNav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 32px;
      flex-wrap: wrap;
      grid-row: 1 / 2;

      * > a {
        margin: 0 15px 0 15px;
      }

      @include breakpoint-md {
        * > a {
          margin: 10px 15px 10px 15px;
        }
      }
    }

    .footerDivider {
      margin: 20px 20px 0 20px;
      border: 0.5px solid #FFF;
      grid-row: 1 / 2;
    }
  }

  .footerContent {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 100%;

    .footerContentText {
      font-family: $alata;
      font-size: 1.25rem;
      letter-spacing: 0.4rem;
      color: #FFF;
    }

    .footerMailText {
      margin-top: 20px;
      font-family: $beVietnamPro;
      font-size: 1.25rem;
      letter-spacing: 0.25rem;
      font-weight: bold;
      color: #FFF;
    }
  }
}
