@import '../../../../src/scss/breakpoints.module';

.socialMediaContainer {
  position: fixed;
  z-index: 999;
  width: 58px;
  height: 103px;
  background: #FFF;
  left: calc(100% - 58px);
  top: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: top;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(.34,.51,.77,.88);

  .socialMediaWrapper {
    display: flex;
    flex-direction: column;
    height: 93px;
    justify-content: space-around;
    align-items: center;
  }

  @include breakpoint-xl {
    top: 94px;
    transition-property: top;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.34,.51,.77,.88);
  }
}
