@import "../../../assets/styles/breakpoints.module";

.socialMediaContainerNoBackground {
  display: none;

  svg:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  @include breakpoint-md {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-around;
    margin-right: 5px;
  }
}
