@import "../../../assets/styles/breakpoints.module";
@import "../../../assets/styles/fonts.module";
@import "../../../assets/styles/variables.module";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;

  img {
    width: 100%;
    max-width: 190px;
    height: auto;
    max-height: 202px;
    object-fit: contain;
    margin-bottom: 0.625rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-family: $alata;
    font-size: 1.125rem;
    color: #ffffff;
    letter-spacing: 0.1rem;
    margin-bottom: 5px;
    text-align: center;
  }

  .name {
    font-family: $alata;
    font-size: 1rem;
    color: $mainBlue;
    letter-spacing: 0.1rem;
    text-align: center;
  }

  .mail {
    font-family: $alata;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.1rem;
    text-align: left;
  }

  .mail:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .phone {
    font-family: $alata;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.1rem;
    text-align: left;
    margin-top: 0.2em;
  }
}
