@import '../../../assets/styles/breakpoints.module';
@import '../../../assets/styles/fonts.module';
@import '../../../assets/styles/variables.module';

.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: center;
  align-items: center;
  min-height: 900px;

  @include breakpoint-xxl {
    grid-template-columns: 15% 70% 15%;
  }

  @include breakpoint-xl {
    grid-template-columns: 5% 90% 5%;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
    object-fit: cover;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;

    .header {
      font-family: $kronaOne;
      font-size: 2rem;
      color: #FFFFFF;
      margin: 150px 0 20px 0;
      text-align: center;
    }

    .divider {
      border: 0.5px solid #FFFFFF;
      width: 40%;
    }

    .button {
      font-family: $alata;
      font-size: 1.2rem;
      letter-spacing: 0.07rem;
      padding: 12px 50px;
      color: white;
      text-decoration: none;
      border: 1px solid $mainBlue;
      background-color: $mainBlue;
      text-align: center;
      margin: 6.25rem 0;

      @include breakpoint-md {
          padding: 12px 30px;
      }
    }

    .button:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 80px;
      margin-bottom: 6.25rem;
    }
  }
}