@import "../../../assets/styles/breakpoints.module";
@import "../../../assets/styles/fonts.module";
@import "../../../assets/styles/variables.module";

.button {
  font-family: $alata;
  font-size: 1.2rem;
  letter-spacing: 0.07rem;
  padding: 12px 3.125rem;
  color: white;
  text-decoration: none;
  border: 1px solid $mainBlue;
  background-color: $mainBlue;
  text-align: center;
  margin: 6.25rem 0;

  @include breakpoint-md {
    padding: 12px 1.875rem;
  }
}

.button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5rem;
  margin: 6.25rem 0;
}
