@import "../../../assets/styles/breakpoints.module";
@import "../../../assets/styles/fonts.module";

.textWrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  letter-spacing: 0.1rem;
  text-align: justify;

  @include breakpoint-sm {
    width: 90%;
  }

  .title {
    font-family: $mulish;
    font-size: 1.375rem;

    @include breakpoint-md {
      font-size: 1.2rem;
    }
  }

  .subtitle {
    font-family: $alata;
    font-size: 1.75rem;
    margin: 5px 0 1.5625rem 0;

    @include breakpoint-md {
      font-size: 1.6rem;
    }
  }

  .text {
    font-family: $mulish;
    font-size: 1rem;
    line-height: 1.6rem;

    @include breakpoint-md {
      font-size: 0.9rem;
      text-align: left;
      line-height: 1.8rem;
    }
  }
}

.firstWrapper {
  margin-right: 3.125rem;

  @include breakpoint-lg {
    margin-right: 1.5625rem;
  }

  @include breakpoint-md {
    margin-right: 0;
  }
}

.secondWrapper {
  margin-left: 3.125rem;

  @include breakpoint-lg {
    margin-left: 1.5625rem;
  }

  @include breakpoint-md {
    margin-left: 0;
  }
}

.detailsWrapper {
  display: flex;
  text-align: left;

  .paragraphImage {
    width: 100%;
    max-width: 350px;
    height: auto;
    max-height: 400px;
    object-fit: scale-down;
  
    @include breakpoint-lg {
      margin: 1.5625rem 0;
    }
  }
}

