@import '../../assets/styles/breakpoints.module';
@import '../../assets/styles/fonts.module';
@import '../../assets/styles/variables.module';

.footerContainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 18.75rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/images/backgrounds/secondaryBackground.jpeg') center no-repeat;
  background-size: cover;

  @include breakpoint-xl {
    height: 25rem;
  }

  @include breakpoint-lg {
    grid-template-columns: 10% 80% 10%;
  }

  @include breakpoint-md {
    height: 21.875rem;
  }

  .footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3;
    width: 100%;

    .footerNavWrapper {
      .footerNav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
        flex-wrap: wrap;

        * > a {
          margin: 0 0.9375rem 0 0.9375rem;
        }

        @include breakpoint-xl {
          * > a {
            margin: 0.625rem 0.9375rem 0.625rem 0.9375rem;
          }
        }
      }

      .footerDivider {
        margin: 1.25rem 1.25rem 0 1.25rem;
        border: 0.5px solid $mainBorder;
      }

      @include breakpoint-md {
        display: none;
      }
    }

    .footerContent {
      display: flex;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      width: 100%;

      @include breakpoint-md {
        flex-flow: column;
        gap: 1.25rem;
        justify-content: center;
        height: 100%;
      }

      .footerLogo:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      .footerContentText {
        margin-top: 1.25rem;
        font-family: $alata;
        font-size: 1.25rem;
        letter-spacing: 0.33rem;
        color: $mainFont;

        @include breakpoint-sm {
          font-size: 1rem;
        }
      }

      .footerMailText {
        margin-top: 1.25rem;
        font-family: $mulish;
        font-size: 1.25rem;
        letter-spacing: 0.3rem;
        font-weight: bold;
        color: $mainFont;

        @include breakpoint-sm {
          font-size: 1rem;
        }
      }

      .footerMailText:hover {
        cursor: pointer;
        opacity: 0.7;
      }

      svg:hover {
        cursor: pointer;
      }
    }

    .footerSocialWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.25rem;

      svg {
        margin: 0 0.625rem 0 0.625rem;
        opacity: 0.7;
      }

      svg:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
