@import '../../../../src/scss/fonts.module';

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    max-width: 200px;

    .header {
        font-family: $alata;
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .text {
        font-family: $beVietnamPro;
        font-size: 1.125rem;
    }
}