@import "../../../assets/styles/breakpoints.module";

$menuBackground: rgba(0, 0, 0, 0.9);

.withBlackBackground {
  background: $menuBackground;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.38, 0.16, 0.57, 0.96);
}

.withoutBlackBackground {
  background: transparent;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.38, 0.16, 0.57, 0.96);
}

.smallerHeaderContainer {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 76px;
  z-index: 999;

  @include breakpoint-md {
    .linksHidden {
      * > a {
        display: none;
        height: 0;
      }
    }
  }
}

.headerContainer {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 106px;
  z-index: 999;

  @include breakpoint-md {
    .linksHidden {
      * > a {
        display: none;
        height: 0;
      }
    }
  }
}

.headerWrapper {
  position: fixed;
  z-index: 999;
  display: flex;
  width: calc(100% - 3.75rem);
  max-width: 1112px;
  padding: 32px 1.875rem 0 1.875rem;
  justify-content: space-between;

  .headerLogo:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.smallerHeaderWrapper {
  display: flex;
  width: calc(100% - 3.75rem);
  max-width: 1112px;
  padding: 0 1.875rem;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  .headerLogo:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.linksWrapper {
  display: flex;
  align-items: flex-end;

  .menu {
    display: none;
  }

  @include breakpoint-md {
    flex-direction: column;

    .menu {
      display: block;
    }

    * > a {
      text-align: right;
      padding: 8px 0;
    }
  }
}
