@import '../../../../src/scss/fonts.module';
@import '../../../../src/scss/breakpoints.module';

.link {
    display: flex;
    align-items: flex-end;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $beVietnamPro;
    font-size: 13px;
    margin-left: 30px
}

@include breakpoint-md {

    .active {
        text-decoration: underline;
    }
}

